<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.database.BoardMapper">


	<!-- Travel 0:여수 1:순천 2:광양 -->
	<!-- Travel(커뮤니티 게시글 말머리) 3:여수 4:순천 5:광양 -->
	<!-- Category 0:음식점 1:카페 2:관광지 -->

	<!-- 광양 ALL -->
	<select  id="G_ALL" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=2 and (category_admin = 0 or category_admin =1 or category_admin =2);
	</select>

	<!-- 광양 RES -->
	<select id="G_RES" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=2 and category_admin = 0;
	</select>
	
	<!-- 광양 CAFE -->
	<select id="G_CAFE" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=2 and category_admin = 1;
	</select>
	
	<!-- 광양 TOUR -->
	<select id="G_TOUR" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=2 and category_admin = 2;
	</select>
	
	
	<!-- 순천 ALL -->
	<select id="S_ALL" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=1 and (category_admin = 0 or category_admin =1 or category_admin =2);
	</select>

	<!-- 순천 RES -->
	<select id="S_RES" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=1 and category_admin = 0;
	</select>
	
	<!-- 순천 CAFE -->
	<select id="S_CAFE" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=1 and category_admin = 1;
	</select>
	
	<!-- 순천 TOUR -->
	<select id="S_ALL" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=1 and category_admin = 2;
	</select>
	
	
	<!-- 여수 ALL -->
	<select id="Y_ALL" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=0 and (category_admin = 0 or category_admin =1 or category_admin =2);
	</select>

	<!-- 여수 RES -->
	<select id="Y_RES" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=0 and category_admin = 0;
	</select>
	
	<!-- 여수 CAFE -->
	<select id="Y_CAFE" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=0 and category_admin = 1;
	</select>
	
	<!-- 여수 TOUR -->
	<select id="Y_TOUR" parameterType="com.smhrd.domain.Board" resultType="com.smhrd.domain.Board">
		select * from BOARD where travel_admin=0 and category_admin = 2;
	</select>
	
	
</mapper>