<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.database.MemberMapper">

	<insert id="insertMember" parameterType="com.smhrd.domain.Member">
		insert into mem_info values(NUM_SEQ.nextval,#{id},#{email},#{pw},#{name},#{nick})
	</insert>
	
	<select id="selectMember" parameterType="com.smhrd.domain.Member" resultType="com.smhrd.domain.Member">
		select * from mem_info where mem_id=#{id} and mem_pw=#{pw}
	</select>
	
	<update id="updateMember" parameterType="com.smhrd.domain.Member">
      update mem_info set mem_pw=#{pw}, mem_id=#{id}, mem_nick=#{nick} where mem_name=#{name}
   </update>
	
	<select id="selectAll" resultType="com.smhrd.domain.Member">
		select * from mem_info
	</select>

	<delete id="deleteMember" parameterType="String">
		delete from mem_info where mem_num=#{memnum}
	</delete>
</mapper>