<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.database.MemberMapper">

	<insert id="insertMember" parameterType="com.smhrd.domain.Member">
		insert into mem_info values(NUM_SEQ.nextval,#{mem_id},#{mem_email},#{mem_pw},#{mem_name},#{mem_nick})
	</insert>
	
	<select id="selectMember" parameterType="com.smhrd.domain.Member" resultType="com.smhrd.domain.Member">
		select * from mem_info where mem_id=#{mem_id} and mem_pw=#{mem_pw}
	</select>
	
	<update id="updateMember" parameterType="com.smhrd.domain.Member">
      update mem_info set mem_nick=#{mem_nick} where mem_name=#{mem_name} and mem_id=#{mem_id}
   </update>
   
	<update id="updateMember2" parameterType="com.smhrd.domain.Member">
      update mem_info set mem_pw=#{mem_pw} where mem_name=#{mem_name} and mem_id=#{mem_id}
   </update>
	
	<select id="selectAll" resultType="com.smhrd.domain.Member">
		select * from mem_info
	</select>
	
	<select id="confirmid" parameterType="com.smhrd.domain.Member" resultType="com.smhrd.domain.Member">
		select mem_id from mem_info where mem_name=#{mem_name} and mem_email=#{mem_email}
	</select>
	
	<select id="confirmpw" parameterType="com.smhrd.domain.Member" resultType="com.smhrd.domain.Member">
		select mem_pw from mem_info where mem_id=#{mem_id} and mem_name=#{mem_name} and mem_email=#{mem_email}
	</select>

	<delete id="deleteMember" parameterType="String">
		delete from mem_info where mem_num=#{mem_num}
	</delete>
</mapper>